body{
  all:unset;
  overflow-x: hidden;
  overflow-y: hidden;
}

@font-face {
  font-family: symtext;
  src: url(../assets/Symtext.ttf);
}

#header{
  width: 100vw;
  display: flex;
  background-color: #cdbea8;
  font-family: symtext;
  color: #FFF;
}

img{
  height: 50px;
  width: 50px;
  margin: 20px;
}

h1{
  margin: 20px;
}

#title{
  display: inline-flex;
  padding-left: 15px;
}

#pallete, #stroke{
  display: flex;
  display: inline-flex;
  margin: 20px 20px auto auto;
}

#stroke{
  margin-left: 0;
}

.color{
  height: 30px;
  width: 30px;
  border: solid 2px #FFF;
  margin: 10px;
}

input{
  all:unset;
  background-color: #FFF;
  width: 45px;
  height: 20px;
  margin: 15px 5px;
  border-radius: 10px;
  border: none;
  color: #cdbea8;
  padding: 2px 5px;
  font-size: 16px;
}

label{
  margin: 15px 0px;
  font-size: 16px;
}

#clear{
  all:unset;
  background-color: #FFF;
  margin: 10px;
  border-radius: 10px;
  padding: 0px 5px;
  border: none;
  color: #cdbea8;
  font-size: 16px;
}

.color:nth-child(1){
  background-color: #e2a0a0;
}

.color:nth-child(2){
  background-color: #e2b9a0;
}

.color:nth-child(3){
  background-color: #e2cca0;
}

.color:nth-child(4){
  background-color: #cde2a0;
}

.color:nth-child(5){
  background-color: #a0e2dc;
}

.color:nth-child(6){
  background-color: #a0b6e2;
}

.color:nth-child(7){
  background-color: #bd9fe0;
}

.color:nth-child(8){
  background-color: #e2a0e0;
}

.color:nth-child(9){
  background-color: #b5b3b3;
}

.color:nth-child(10){
  background-color: #FFF;
}

.color:nth-child(11){
  background-color: #000;
}

@media (max-width: 1110px) {
  #header{
    display: block;
    text-align: center;
  }
  h1,img{
    margin: 10px;
  }
  #pallete, #stroke{
    margin-top: 0px;
  }
}

@media (max-width: 569px){
  .color{
    margin: 5px;
    height: 15px;
    width: 15px;
  }
  #pallete{
    margin: 0px;
  }
}
